Testing boost

In [2]:
import pandas as pd
import numpy as np
import os

In [16]:
df_ssr = pd.read_pickle('df_mssr.pkl')
output_dim = 64
df_ssr = pd.DataFrame(df_ssr.to_numpy().reshape(-1, output_dim))
df_ssr

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.118882,0.126710,0.138471,-0.122378,0.067343,0.041934,-0.148962,0.147636,-0.098641,-0.150673,...,0.174407,0.173906,-0.097383,-0.169935,0.133244,-0.172518,0.131680,-0.130617,0.142301,-0.086337
1,0.127551,0.119777,0.131287,-0.117778,0.074476,0.051067,-0.158993,0.142281,-0.096336,-0.153675,...,0.180088,0.172051,-0.075007,-0.173319,0.132405,-0.175087,0.132386,-0.123539,0.154978,-0.089831
2,0.132232,0.130239,0.137071,-0.109974,0.098871,0.042709,-0.157304,0.153620,-0.106597,-0.154286,...,0.177555,0.174771,-0.089429,-0.175647,0.132832,-0.174882,0.138078,-0.114437,0.152438,-0.077844
3,0.124294,0.095106,0.137723,-0.120228,0.079969,0.041455,-0.157019,0.148625,-0.096005,-0.157848,...,0.180753,0.173430,-0.101018,-0.178715,0.122424,-0.177018,0.139263,-0.123136,0.150824,-0.097460
4,0.131797,0.115136,0.132628,-0.117315,0.081995,0.042575,-0.162724,0.150107,-0.085972,-0.163146,...,0.180524,0.178538,-0.070485,-0.181401,0.132493,-0.179257,0.133605,-0.123183,0.164852,-0.100866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,0.165238,1.326344,1.127503,0.368317,-0.453269,0.774685,-1.290747,1.354331,-0.062556,-0.633425,...,0.771782,0.120792,0.694470,-0.824229,0.789005,1.049661,-1.616747,-0.246400,1.224100,0.896244
146,1.134426,0.665091,-0.486176,0.877022,0.199590,1.924602,0.166081,0.477588,-0.518480,0.557769,...,0.742424,-1.456595,-0.529091,0.627467,-0.019426,1.761222,-1.080847,-0.970326,0.176175,1.018382
147,1.219415,0.314768,-1.447669,-0.568782,-1.431326,0.949484,-0.057728,-0.492239,-0.384426,-0.676364,...,1.023735,-0.128402,1.853483,-0.467143,0.268623,-0.765711,0.603289,1.202321,-0.418214,0.465580
148,1.467283,-1.480232,-1.513495,0.333196,-0.279692,-0.622257,-1.104522,2.032991,-0.190816,-0.661331,...,-0.103731,0.138617,0.086483,0.083267,-0.431054,0.616850,1.444512,0.850155,0.250757,0.047318
149,0.318975,-0.900488,0.016147,-0.385901,-0.347027,-0.283815,1.078184,-0.706395,-0.876085,-0.835604,...,0.236563,-0.545184,-0.405035,0.518795,1.196306,-0.439144,-0.594611,-0.618715,-0.315182,0.306412

In [17]:
df_mssr = pd.DataFrame(pd.DataFrame(df_ssr).mean()).T
#df_mssr.rename(columns={k: f"neuron_{k+1}" for k in df_mssr.columns}, inplace=True)
df_mssr

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.197211,0.077594,0.114331,-0.06573,0.029554,0.029308,-0.1838,0.125576,-0.076542,-0.175135,...,0.169856,0.148381,-0.034739,-0.157654,0.144427,-0.170156,0.173146,-0.077391,0.200582,-0.096245

In [18]:
df_smc = pd.read_pickle("df_smc.pkl")
df_smc

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-0.054512,-0.012885,-0.013335,-0.00847,0.031388,-0.072708,0.060004,-0.039222,0.012917,0.077579,...,-0.063595,-0.050391,0.008369,0.053233,-0.010388,0.032418,-0.029259,0.016503,-0.057372,0.015857

In [19]:
d = df_mssr - df_smc
d

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.251723,0.090479,0.127666,-0.057259,-0.001834,0.102016,-0.243804,0.164798,-0.089459,-0.252714,...,0.233451,0.198771,-0.043108,-0.210888,0.154815,-0.202574,0.202405,-0.093894,0.257954,-0.112103

In [36]:
f = 0.8
f * d

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.201379,0.072383,0.102132,-0.045807,-0.001467,0.081613,-0.195043,0.131838,-0.071567,-0.202171,...,0.186761,0.159017,-0.034486,-0.16871,0.123852,-0.162059,0.161924,-0.075115,0.206363,-0.089682

In [37]:
output_rows = 150
(f * d / output_rows).to_numpy()

array([[ 1.3425238e-03,  4.8255562e-04,  6.8088301e-04, -3.0538195e-04,
        -9.7797420e-06,  5.4408360e-04, -1.3002874e-03,  8.7892078e-04,
        -4.7711254e-04, -1.3478083e-03, -1.0644626e-03,  1.0136891e-03,
         1.8326551e-05, -9.2471612e-04, -7.9900245e-05, -4.5941389e-04,
        -8.7978540e-04,  6.1695819e-04, -1.4407124e-03, -9.3933375e-04,
        -5.8724458e-04, -1.0621822e-03,  6.4772344e-04, -1.0254609e-03,
        -2.7096775e-04,  1.4079941e-03, -4.8195760e-04,  1.2885537e-03,
        -4.3405930e-04, -1.8938963e-04, -9.0701022e-04, -1.6407546e-04,
         9.6190564e-04, -1.1350720e-03,  4.8179695e-04, -1.2014424e-03,
         8.8116922e-04, -5.6434487e-04,  1.3406300e-03, -6.6896691e-04,
        -2.2874703e-04,  9.5327827e-04, -5.2488060e-04,  6.0820935e-04,
        -8.1323925e-04,  1.0608075e-03, -9.9163175e-05,  3.3042592e-04,
        -4.6144138e-04, -9.2729082e-04, -4.5578132e-04, -4.8362628e-05,
         6.8526756e-04,  7.1004109e-04,  1.2450739e-03,  1.0601141e-03,
        -2.2990671e-04, -1.1247336e-03,  8.2568062e-04, -1.0803947e-03,
         1.0794927e-03, -5.0076569e-04,  1.3757560e-03, -5.9788040e-04]],
      dtype=float32)

In [38]:
df_ssr_p = df_ssr.to_numpy() - (f * d / 150).to_numpy()

In [39]:
pd.DataFrame(pd.DataFrame(df_ssr_p).mean()).T

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.195868,0.077112,0.11365,-0.065424,0.029564,0.028764,-0.1825,0.124697,-0.076065,-0.173787,...,0.168611,0.147321,-0.034509,-0.15653,0.143601,-0.169076,0.172066,-0.07689,0.199206,-0.095648

In [40]:
df_mssr

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.197211,0.077594,0.114331,-0.06573,0.029554,0.029308,-0.1838,0.125576,-0.076542,-0.175135,...,0.169856,0.148381,-0.034739,-0.157654,0.144427,-0.170156,0.173146,-0.077391,0.200582,-0.096245